In [1]:
import pymysql.cursors

In [6]:
config = {'host':'mu3','port':3306,'user':'root','password':'root','db':'test','charset':'utf8'}

In [10]:
connection = pymysql.connect(**config)

In [11]:
try:
    with connection.cursor() as cursor:
        sql = "select * from ceshi"
        cursor.execute(sql)
        result = cursor.fetchall()
        print(result)
        print(type(result))
    connection.commit()
finally:
    connection.close()

(('aaa', 'zhang_1', 11, '脆脆鲨', Decimal('11.11')), ('bbb', 'zhang2', 22, '小脆筒', None), ('vvv', 'zhang3', 33, '巧乐兹', Decimal('11.00')), ('ddd', 'zhang4', 44, '七夕', None), ('eee', 'zhang5', 55, '小白兔', None))
<class 'tuple'>