In [13]:
import pandas as pd
import numpy as np

In [14]:
df = pd.DataFrame(np.random.randint(1,20,size=(4,5)),columns=['a','b','c','d','e'])

In [25]:
df['f'] = ['a','a','b','b']
df['g'] = ['a','b','c','b']
df['a'] = [0,1,0,1]
df

   a   b   c   d   e  f  g
0  0   2   9  18  10  a  a
1  1  15  17  12  12  a  b
2  0   9   3   4   3  b  c
3  1  15  11   9  16  b  b

In [62]:
for i in df.groupby('f')['f']:
    print(i)

('a', 0    a
1    a
Name: f, dtype: object)
('b', 2    b
3    b
Name: f, dtype: object)

In [30]:
data = df.groupby('f')['a'].count()
# print('count-->\n',data['a'].count())
# print('sum-->\n',data['a'].sum())

In [31]:
data2 = df.groupby('f')['a'].sum()

In [50]:
total = pd.DataFrame({'total':data})
bad = pd.DataFrame({'bad':data2})
print(total.head(),bad.head())

   total
f
a      2
b      2    bad
f
a    1
b    1

In [54]:
da = total.merge(bad,left_index=True,right_index=True,how='left')
da

   total  bad
f
a      2    1
b      2    1

In [72]:
da.reset_index(level=0,inplace=True)

In [73]:
da.columns

Index(['f', 'total', 'bad'], dtype='object')

In [86]:
col_regroup = [i for i in da['f']]
col_regroup

['a', 'b']

In [90]:
dic = {}
j = 0
for i in col_regroup:
    j = j + 1
    dic[i] = j
print(dic)
df['f'].map(dic)

{'b': 2, 'a': 1}

0    1
1    1
2    2
3    2
Name: f, dtype: int64

In [95]:
dic = da[['f','total']].set_index(['f']).to_dict(orient='index')

{'a': {'total': 2}, 'b': {'total': 2}}

In [97]:
for k,v in dic.items():
    dic[k] = v

In [98]:
dic

{'a': 1, 'b': 2}