In [32]:
import pymssql
import pandas as pd
host='tianxibigdata.database.chinacloudapi.cn'
port='1433'
user='tianxi'
password='1qa2ws!QA'
database='TianxiBigData'
#conn = pymssql.connect(server=host,port=port,user=user,password=password,database=database,charset='utf8',tds_version='7.0')
#df = pd.read_sql("select top 10  * from creditrating")
#df.head()
#conn.close()

In [16]:
import pymysql
db = pymysql.connect("10.167.222.101","etl","etl","etl")
df = pd.read_sql("select * from t_job limit 1",db)
print(df)
db.close()

   id         job_name  source_table_id  target_table_id  source_ds_id  \
0   1  ORG_MAINTAINORG                1            25445            26

   target_ds_id  etl_type  map_num split_by  is_external_table  \
0             4         6        0                           1

                                      hive_table_dir  is_partition_day  \
0  /ods/offline/nc1/erpdb/ERPXH/ERPXH_ORG_MAINTAI...                 1

  partition_day partition_name  date_offset  etl_num  status    create_time  \
0                                         1        1       1  1512377046235

     update_time  generate_job_id
0  1512377046235                5

In [14]:
import pyodbc
import pandas as pd
host='tianxibigdata.database.chinacloudapi.cn'
port=1433
user='tianxi'
password='1qa2ws!QA'
database='TianxiBigData'
conn = pyodbc.connect('DRIVER={ODBC Driver 17 for SQL Server};SERVER='+host+';DATABASE='+database+';UID='+user+';PWD='+password)
df = pd.read_sql("select top 2  * from creditrating",conn)
print(df)
conn.close()

       Id                              CustomNo Gender Age AgeScore Income  \
0  814414  44729b62-39d8-4f7e-bb63-fa72b694bc25      男  41       11  12083
1  814415  0296ad68-495c-4244-a774-34535c446f6e      男  45       11  42689

  IncomeScore OverdueNo90 OverdueNo90Score AuthorizedAmounts  \
0           8           3              -14             48785
1          35           6              -40             34051

  AuthorizedAmountsScore CreditRatings IsFraud   EnterTime  \
0                     25             C       否  2017-07-03
1                     20                     是  2004-08-17

               CreateTime
0 2018-06-01 03:37:10.207
1 2018-06-04 03:37:10.393

In [8]:
import pyodbc 
# Some other example server values are
# server = 'localhost\sqlexpress' # for a named instance
# server = 'myserver,port' # to specify an alternate port
server = 'tcp:tianxibigdata.database.chinacloudapi.cn' 
database = 'TianxiBigData' 
username = 'tianxi' 
password = '1qa2ws!QA' 
cnxn = pyodbc.connect('DRIVER={ODBC Driver 17 for SQL Server};SERVER='+server+';DATABASE='+database+';UID='+username+';PWD='+ password)
cursor = cnxn.cursor()
cursor.execute("SELECT top 1 * from creditrating") 
row = cursor.fetchone() 
while row: 
    print( row) 
    break
cnxn.close()

(814414, '44729b62-39d8-4f7e-bb63-fa72b694bc25', '男', '41', '11', '12083', '8', '3', '-14', '48785', '25', 'C', '否', '2017-07-03', datetime.datetime(2018, 6, 1, 3, 37, 10, 207000))