In [1]:
import pandas as pd

In [3]:
df = pd.read_csv('application.csv',encoding='ISO-8859-1')

In [8]:
df.head(1)

,member_id,loan_amnt,term,loan_status,int_rate,emp_length,home_ownership,annual_inc,verification_status,desc,...,delinq_2yrs,inq_last_6mths,mths_since_last_delinq,mths_since_last_record,open_acc,pub_rec,total_acc,pub_rec_bankruptcies,issue_d,earliest_cr_line
0,799,9600,36 months,Charged Off,7.51%,10+ years,RENT,55000.0,Verified,Borrower added on 12/06/11 > Please help me ...,...,0,0,NaN,NaN,10,0,28,0.0,Dec-11,Feb-01

In [10]:
import datetime
print(datetime.datetime(2011,11,11))

2011-11-11 00:00:00

In [12]:
import time
 
localtime = time.localtime(time.time())
print("本地时间为 :", localtime)

本地时间为 : time.struct_time(tm_year=2018, tm_mon=6, tm_mday=24, tm_hour=21, tm_min=52, tm_sec=58, tm_wday=6, tm_yday=175, tm_isdst=0)

In [ ]:
print(localtime.)